#OS junk files
[Tt]humbs.db
*.DS_Store
*.bak*
#profile
*~

*.DS_Store
*.swp
*.out

#Xcode files
#*.xcodeproj
#!*.xcodeproj/project.pbxproj
*.log
xcuserdata
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
#profile
*.moved-aside
DerivedData

#Project files
[Bb]uild/
tmp/*

#Version control files
.svn
*.orig

#Website
.idea
.secret
doc/
*.swp
*~
.project

#assets
public/assets/*

#codes
#config/*.yml
#.env

#RAAS
*.yml
slack_utilities.rb
timeline_utilities.rb
secret_token.rb
javascripts/*
stylesheets/*